<section id="header">
 <app-header></app-header>
</section>

<section id="buttons">
    <a class="button" href="https://www.petz.com.br/busca?q=alimenta%C3%A7%C3%A3o" target="_blank">
        <span> Alimentação </span>
    </a>
    <a class="button" href="https://www.petz.com.br/busca?q=banho%20e%20tosa" target="_blank">
        <span> Banho e Tosa </span>
    </a>
    <a class="button" href="https://www.petz.com.br/busca?q=higiene" target="_blank">
        <span> Higiene </span>
    </a>
</section>
<!--Esses botões estão redirecionando para uma página que não é nossa de forma temporária
     assim que for realizado o cadastro de produtos iremos corrigir -->